<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search by email</title>
</head>
<body>
    <h3>Search by email</h3>

    <form method="post" action="/searchByEmail">
        <label for="email">Enter email for search:</label>
        <input id="email" name="email" type="email" required/>
        <button type="submit">Search</button>
    </form>
    <br><br>
    <a href="/">Return to form</a>
</body>
</html>